*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.trendyol{
    height: 100%;
    width: 100%;
    background-color: #ef7919;
}

h1{
    margin-bottom: 20px;
    color: #fff;
}
.trend{
    padding: 15px 20px;
    border: 0;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    background: rgb(255, 255, 255);
    opacity: 1;}


.code-bone p{
    margin-bottom: 30px;
    color: #FD481B;
    width: 35%;
    padding: 15px;
    border: dashed ;
    border-color: black;
    border-radius: 5px;
}
.btn{
    background-color: #FD481B;
    color: #FFFFFF;
    font-family: Roboto;
        font-weight: 400;  
        transition: border .5s;
        width: 80%;
        border: 0;
        border-radius: 0;
}
.btn:hover{
    background-color: #FD481B;
    color: #fff;

}

